In [1]:
import numpy as np
import pandas as pd

stock = ['AAPL']

In [2]:
data = pd.read_csv('APPL.csv')

In [3]:
data['Close']

0        55.410530
1        53.867073
2        53.550209
3        53.694336
4        52.855141
5        53.510345
6        53.182232
7        51.286152
8        49.668106
9        51.729763
10       51.381218
11       51.107292
12       51.594852
13       52.539307
14       46.047665
15       44.962143
16       45.979191
17       46.841866
18       46.694683
19       46.557709
20       46.366570
21       45.211544
22       46.797920
23       46.747833
24       49.882107
25       50.602283
26       51.129639
27       49.848011
28       49.753197
29       49.708454
           ...
1227    167.160339
1228    169.157410
1229    168.218185
1230    168.050110
1231    171.174255
1232    172.973587
1233    172.983475
1234    172.113464
1235    171.105042
1236    167.555801
1237    169.898895
1238    169.107971
1239    167.872177
1240    167.713974
1241    167.091141
1242    167.397629
1243    167.447037
1244    170.709595
1245    169.750595
1246    170.314117
1247    170.264694
1248    171.994812
1249    174.417007
1250    172.558350
1251    172.370514
1252    173.023026
1253    173.023026
1254    168.633423
1255    168.663101
1256    169.137650
Name: Close, Length: 1257, dtype: float64

In [4]:
returns = ((data['Close'] / data['Close'].shift()) -1)
returns

0            NaN
1      -0.027855
2      -0.005882
3       0.002691
4      -0.015629
5       0.012396
6      -0.006132
7      -0.035653
8      -0.031549
9       0.041509
10     -0.006738
11     -0.005331
12      0.009540
13      0.018305
14     -0.123558
15     -0.023574
16      0.022620
17      0.018762
18     -0.003142
19     -0.002933
20     -0.004105
21     -0.024911
22      0.035088
23     -0.001070
24      0.067046
25      0.014438
26      0.010422
27     -0.025066
28     -0.001902
29     -0.000899
          ...
1227   -0.013190
1228    0.011947
1229   -0.005552
1230   -0.000999
1231    0.018591
1232    0.010512
1233    0.000057
1234   -0.005029
1235   -0.005859
1236   -0.020743
1237    0.013984
1238   -0.004655
1239   -0.007308
1240   -0.000942
1241   -0.003714
1242    0.001834
1243    0.000295
1244    0.019484
1245   -0.005618
1246    0.003320
1247   -0.000290
1248    0.010161
1249    0.014083
1250   -0.010656
1251   -0.001089
1252    0.003786
1253    0.000000
1254   -0.025370
1255    0.000176
1256    0.002814
Name: Close, Length: 1257, dtype: float64

In [5]:
data.head(10)

        Date      Close
0   3/1/2013  55.410530
1   4/1/2013  53.867073
2   7/1/2013  53.550209
3   8/1/2013  53.694336
4   9/1/2013  52.855141
5  10/1/2013  53.510345
6  11/1/2013  53.182232
7  14/1/2013  51.286152
8  15/1/2013  49.668106
9  16/1/2013  51.729763

In [6]:
returns

0            NaN
1      -0.027855
2      -0.005882
3       0.002691
4      -0.015629
5       0.012396
6      -0.006132
7      -0.035653
8      -0.031549
9       0.041509
10     -0.006738
11     -0.005331
12      0.009540
13      0.018305
14     -0.123558
15     -0.023574
16      0.022620
17      0.018762
18     -0.003142
19     -0.002933
20     -0.004105
21     -0.024911
22      0.035088
23     -0.001070
24      0.067046
25      0.014438
26      0.010422
27     -0.025066
28     -0.001902
29     -0.000899
          ...
1227   -0.013190
1228    0.011947
1229   -0.005552
1230   -0.000999
1231    0.018591
1232    0.010512
1233    0.000057
1234   -0.005029
1235   -0.005859
1236   -0.020743
1237    0.013984
1238   -0.004655
1239   -0.007308
1240   -0.000942
1241   -0.003714
1242    0.001834
1243    0.000295
1244    0.019484
1245   -0.005618
1246    0.003320
1247   -0.000290
1248    0.010161
1249    0.014083
1250   -0.010656
1251   -0.001089
1252    0.003786
1253    0.000000
1254   -0.025370
1255    0.000176
1256    0.002814
Name: Close, Length: 1257, dtype: float64

In [7]:
mean_return = returns.mean()
return_stdev = returns.std()

In [8]:
mean_return

0.0010059869764907422

In [9]:
annualised_return = round(mean_return * 252,2)
annualised_stdev = round(return_stdev * np.sqrt(252),2)

In [10]:
print ('The annualised mean return of stock is ' "%.2f" % annualised_return)
print ('The annualised_stdev of stock is ' "%.2f" % annualised_stdev)

The annualised mean return of stock is 0.25
The annualised_stdev of stock is 0.24