In [9]:
from datetime import date
d = date.fromordinal(730920) # 730920th day after 1. 1. 0001
d

datetime.date(2002, 3, 11)

In [3]:
t = d.timetuple()
for i in t:     
    print(i)

2002
3
11
0
0
0
0
70
-1

In [4]:
ic = d.isocalendar()
for i in ic:    
    print (i)

2002
11
1

In [5]:
>>> d.isoformat()

'2002-03-11'

In [6]:
d.strftime("%d/%m/%y")

'11/03/02'

In [7]:
d.strftime("%A %d. %B %Y")

'Monday 11. March 2002'

In [8]:
'The {1} is {0:%d}, the {2} is {0:%B}.'.format(d, "day", "month")

'The day is 11, the month is March.'